%%% -*- mode: erlang -*-

%% module       - Specific module implements plugin behavior. It's mandatory.
%% title        - Menu title. It's mandatory.
%% shortcut     - Switch plugin by shortcut. It's mandatory.
%% interval     - Refresh interval ms. It's optional. default is 1500ms.
%% sort_column  - Sort the sheet by this index. It's optional default is 2.

[ {observer_cli,
   [{ plugins,
      [ #{
          module      => espace_observer,
          title       => "espace observations",
          shortcut    => "E",
          interval    => 2000,
          sort_column => 1 }
      ]
    }]
  }].
